@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div class="container">
    <div class="demo-section k-content">
        @(Html.Kendo().Upload()
                                            .Name("files")
                                            .Async(a => a
                                                .Save("Async_Save", "Upload")
                                                .Remove("Async_Remove", "Upload")
                                                .AutoUpload(true)
                                            )
        )
    </div>
    <div class="demo-section k-content">
        @(Html.Kendo().DropDownList()
                      .Name("environments")
                      .DataTextField("name")
                      .DataValueField("name")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("RemoteDataSource_GetEnvironments", "Upload");
                          });
                      })
                      .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>
</div>